#carousel-example-generic{
  position: relative;
  z-index: 0;

}

.carousel-styling{
  margin: 0;
  padding: 0;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;

}

.rolodex-container{
  height: 200px;
}