.footer{
  position: relative;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $white;
  border-top: 0.5px solid $lt-gray;
  line-height: 40px;

  .hannah-cta{
    float: left;
    vertical-align: middle;
    margin-left: 10px;
  }

  .copyright{
    float: right;
    vertical-align: middle;
    margin-left: 10px;
  }
}