.container-fluid {
  padding-left: 0px;
}

body {
  font-size: 18px;
  font-weight: 400;
  font-family: 'neutraface', helvetica, arial, sans-serif;
  position: relative;
  z-index: 0;

}

.description{
  text-align: center;
}