//IMAGES

.jumbotron{
  background-color: $blue;
}

.cupid {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid $lt-gray;
}

.julie-cupid {
  margin: 20px 0 0 20px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid $lt-gray;
}

.cupids {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid $lt-gray;
  margin-left: 22%;
}