//IMAGES
.navbar-brand>img{
  display: inline-block;
}

.index-img{
  display: block;
  margin: 0 auto;
  height: 400px;
  width: auto;
  @include breakpoint(tablet){
    height: 300px;
  }
  @include breakpoint(mobile){
    height: 250px;
  }
  @include breakpoint(iphone){
    height: 250px;
  }

}

.rolodex-img-box{
  @include link-transition(750ms);
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  background: transparent;
  border: none;
  color: $md-gray;
  &:hover, &:active, &:focus{
    text-decoration: none;
    color: $pink;
  }
  &:visited {
    color: $md-gray;
  }
}

.circle-img {
  border: 2px solid $lt-gray;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  display: block;
  margin: 0 auto;
}

.cupid {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid $lt-gray;
  display: block;
  margin: 0 auto;
  @include breakpoint(tablet){
    width: 150px;
    height: 150px;
    border-radius: 75px;
  }
  @include breakpoint(mobile){
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  @include breakpoint(iphone){
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }

  &.svcs-cupid{
    display: block;
    margin: 10px auto;
  }
}


.rolodex-image{
  width: 400px;
  height: 400px;
  border-radius: 200px;
  border: 2px solid $lt-gray;
  display: block;
  margin: 0 auto;
  @include breakpoint(tablet){
    display: none;
  }
  @include breakpoint(mobile){
    display: none;
  }
  @include breakpoint(iphone){
    display: none;
  }
}

.rolodex-image-mobile{
  @include breakpoint(desktop){
    display: none;
  }
  @include breakpoint(desktop){
    display: none;
  }
  @include breakpoint(tablet){
    display: block;
    margin: 0 auto;
  }
  @include breakpoint(mobile){
    display: block;
    margin: 0 auto;
  }
  @include breakpoint(iphone){
    display: block;
    margin: 0 auto;
  }
}

.rolodex-img-form{
  @include breakpoint(desktop){
    display: none;
  }
  @include breakpoint(desktop){
    display: none;
  }
  @include breakpoint(tablet){
    width: 150px;
    height: 150px;
    border-radius: 75px;
    display: block;
    margin: 0 auto;
    border: 2px solid $lt-gray;
  }
  @include breakpoint(mobile){
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    border: 2px solid $lt-gray;
  }
  @include breakpoint(iphone){
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    border: 2px solid $lt-gray;
  }
}

.about-images{
  display: block;
  margin: 5% auto;
  width: 225px;
  height: auto;
}