//IMAGES
.navbar-brand>img{
  display: inline-block;
}

.index-img{
  display: block;
  margin: 0 auto;
  height: 400px;
  width: auto;
  @include breakpoint(tablet){
    height: 300px;
  }
  @include breakpoint(mobile){
    height: 250px;
  }
  @include breakpoint(iphone){
    height: 250px;
  }

}
.cupid {
  // margin: 20px auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid $lt-gray;
  @include breakpoint(tablet){
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin: 0 12.5%;
  }
  @include breakpoint(mobile){
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 25%;
  }
  @include breakpoint(iphone){
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 25%;
  }
}

.rolodex-image{
  width: 400px;
  height: 400px;
  border-radius: 200px;
  border: 2px solid $lt-gray;
}

.julie-cupid {
  margin: 20px 0 0 20px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid $lt-gray;
}

.cupids {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid $lt-gray;
  margin-left: 22%;
}

.about-images{
  display:inline-block;
  margin: 2.5% 25%;
  @include breakpoint(mobile){
    margin: 2.5% 37.5%;
  }
  @include breakpoint(iphone){
    margin: 2.5% 25%;
  }
}

.about-images-rolodex{
  display:inline-block;
  margin: 0 37.5%;
  @include breakpoint(mobile){
    margin: 0 12.5%;
  }
  @include breakpoint(iphone){
    margin: 0 12.5%;
  }
}