//for breakpoint specific views
@mixin breakpoint($point) {
  @if $point == iphone {
    @media all and (max-width: $screen-xxs-max) { @content; }
  }
  @else if $point == mobile {
    @media all and (min-width: $screen-xs) and (max-width: $screen-xs-max) {
      @content;
    }
  }
  @else if $point == tablet {
    @media all and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      @content;
    }
  }
  @else if $point == desktop {
    @media all and (min-width: $screen-md) and (max-width: $screen-md-max) {
      @content;
    }
  }
  @else if $point == large {
    @media all and (min-width: $screen-lg) {
      @content;
    }
  }
}

@mixin link-transition($time){
  -webkit-transition: all $time ease-out;
  -moz-transition: all $time ease-out;
  -o-transition: all $time ease-out;
  transition: all $time ease-out;
}

@mixin spin($time, $deg){
  -webkit-transition-duration: $time;
  -moz-transition-duration: $time;
  -ms-transition-duration: $time;
  -o-transition-duration: $time;
   transition-duration: $time;
  -webkit-transform: rotate($deg); /* Safari and Chrome */
  -ms-transform: rotate($deg); /* IE 9 */
  -moz-transform: rotate($deg); /* Firefox */
  -o-transform: rotate($deg); /* Opera */
  transform: rotate($deg);
}