.modal-content {
  position: relative;
  background-color: $lt-yellow;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  width: 25em;
  height: 25em;
  border-radius: 12.5em;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.bounding-box {
  width: 18.75em;
  height: 18.75em;
  margin-top: 4.5em;
  margin-left: 2em;
  text-align: center;
}


 .btn-default {
  color: $white;
  background-color: $blue;
  border-color: none;
  text-shadow: none;
  background-image: none;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: $white;
  background-color: $pink;
  border-color: $pink;
}



