.modal-content {
  position: relative;
  background-color: $lt-yellow;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  width: 25em;
  height: 25em;
  border-radius: 12.5em;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.bounding-box {
  width: 18.75em;
  height: 18.75em;
  margin-top: 4.5em;
  margin-left: 2em;
  text-align: center;
}


 .btn {
  background-color: $blue;
  color: $white;
  display: inline-block;
  padding: 4px 9px;
  margin-bottom: 0;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  background-color: $dk-blue;
  color: $white;
  outline: none;
}
.btn:hover,
.btn:focus
.btn:visited {
  background-color: $dk-blue;
  color: $white;
  text-decoration: none;
  outline: none;
}



