//NAVBAR

.nav-container{
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: $white;
  color: $md-gray;
  z-index: 10;
}

.body-container{
  z-index: 0;
  margin-top: 60px;
}

.branding,
.brand-item,
.nav-links,
.nav-link-item,
.contact-list,
.contact-item{
  display: inline;
  list-style-type: none;
}

.title {
  position: absolute;
  top: -25px;
  left: 45px;
  width: 100%;
  @include breakpoint(tablet){
    display: none;
  }
  @include breakpoint(mobile){
    display: none;
  }
  @include breakpoint(iphone){
    display: none;
  }

}

.nav-img{
  float: left;
}

.brand-item{
  padding: 0 5px;
}

.nav-links {
  @include link-transition(500ms);
  height: 50px;
  line-height: 50px;
  @include breakpoint(tablet){
    display: none;
  }
  @include breakpoint(mobile){
    display: none;
  }
  @include breakpoint(iphone){
    display: none;
  }
}


.nav-link-item {
  @include link-transition(500ms);
  padding: 15px 2.5px 10px 2.5px;
  font-size: 1.25em;
  font-family: 'neutraface', helvetica, arial, sans-serif;
  &.blue{
    &:hover, &:active, &:focus{
      text-decoration: none;
      color: $white;
      background-color: $blue;
    }
    &:visited{
      color: $md-gray;
      background-color: transparent;
    }
  }
  &.yellow{
    &:hover, &:active, &:focus{
      text-decoration: none;
      color: $white;
      background-color: $lt-yellow;
    }
    &:visited{
      text-decoration: none;
      color: $md-gray;
      background-color: transparent;
    }
  }
  &.pink {
    &:hover, &:active, &:focus{
      text-decoration: none;
      color: $white;
      background-color: $pink;
    }
    &:visited{
      color: $md-gray;
      background-color: transparent;
    }
  }
}

.nav-highlight {
  color: $md-gray;
  padding: 10px 5px;
}

.contact-list {
  @include breakpoint(tablet){
    position: absolute;
    top: -25px;
    right: 0;
  }
  @include breakpoint(mobile){
    position: absolute;
    top: -25px;
    right: 0;
  }
  @include breakpoint(iphone){
    position: absolute;
    top: -25px;
    right: 0;
  }

}


.contact-item {
  padding: 5px;
  margin-top: 2px;
  font-size: 1.75em;
  &.blue{
    &:hover, &:active, &:focus{
      color: $blue;
    }
    &:visited{
      color: $md-gray;
    }
  }
  &.yellow{
    &:hover, &:active, &:focus{
      color: $lt-yellow;
    }
    &:visited{
      color: $md-gray;
    }
  }
  &.pink {
    &:hover, &:active, &:focus{
      color: $pink;
    }
    &:visited{
      color: $md-gray;
    }
  }
}

.icons {
  color: $md-gray;
  &:hover, &:active, &:focus{
    @include link-transition(500ms);
    color: $blue;
  }
}

