.row-vert-space{
  margin-top: 20px;
  @include breakpoint(mobile){
    margin-top: 15px;
  }
  @include breakpoint(iphone){
    margin-top: 15px;
  }
}

.bump-left {
  margin-left: 7%;
}
.big-bump-left {
  margin-left: 15%;
}

.bottom-space {
  margin-bottom: 50px;
}
.no-margin-top {
  margin-top: 0;
}
.footer-bump {
  margin-left: 10px;
}

.services-container {
  display: inline;
}

.xshide{
  cursor: pointer;
}

#xs1,
#xs2,
#xs3,
#xs4,
#xs5,
#xs6,
#xs7,
#xs8,
#xs9,
#xs10 {
  cursor: pointer;
}

