.rolodex-container {
  width: 90%;
  height: auto;
  display: block;
  margin: 60px auto 0 auto;
}

.hidden-stagger,
.big-rolo{
  @include breakpoint(large){
    display: block;
  }
  @include breakpoint(desktop){
    display: block;
  }
  @include breakpoint(tablet){
    display: none;
  }
  @include breakpoint(mobile){
    display: none;
  }
  @include breakpoint(iphone){
    display: none;
  }
}

.shown-stagger,
.small-rolo{
  @include breakpoint(large){
    display: none;
  }
  @include breakpoint(desktop){
    display: none;
  }
  @include breakpoint(tablet){
    display: block;
  }
  @include breakpoint(mobile){
    display: block;
  }
  @include breakpoint(iphone){
    display: block;
  }
}

.services-container {
  display: inline;
}



