.row-vert-space{
  margin-top: 20px;
}
.row-vert-space-md{
  margin-top: 75px;
}
.row-vert-space-lg{
  margin-top: 100px;
}
.row-vert-space-xlg{
  margin-top: 125px;
}
.header-bump{
  margin-left: 20px;
}
.bump-left {
  margin-left: 7%;
}
.big-bump-left {
  margin-left: 15%;
}
.title-bump-left{
  margin-left: 25%;
}
.header-spacing {
  margin-top: 10px;
}
.bottom-space {
  margin-bottom: 50px;
}
.no-margin-top {
  margin-top: 0;
}

.no-pad{
  padding: 0;
}



.ten-bump{
  margin-left: 10px;
}

.tencenter-bump{
  text-align: center;
  margin-left: 10px;
}

.twelve-bump{
  margin-left: 12px;
}

.fifteen-bump{
  margin-left: 15px;
}

.twentyfive-bump{
  margin-left: 25px;
}

.thirty-bump{
  margin-left: 30px;
}

.forty-bump{
  margin-left: 40px;
}

.one-fifteen-bump{
  margin-left: 115px;
}

.name-bump{
  padding-left: 20px;
}

.name2-bump{
  padding-left: 30px;
}


