 @media all and (max-width: 1024px) and (min-width: 768px) {

//MODAL
.modal-content {
  position: relative;
  background-color: $lt-yellow;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  width: 18.75em;
  height: 18.75em;
  border-radius: 9.375em;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.bounding-box {
  width: 14.0625em;
  height: 14.0625em;
  margin-top: 3.375em;
  margin-left: 1.5em;
  text-align: center;
}

//WORDS
.big-white {
  color: $white;
  text-shadow: -1px 0 $pink, 0 1px $pink, 1px 0 $pink, 0 -1px $pink;
  font-size: 225%;
}

.centered {
  text-align: center;
}

//BUTTONS
.btn-primary-centered{
  margin: 0 25%;
}

.btn {
  background-color: $pink;
  color: $white;
  display: inline-block;
  padding: 4px 9px;
  margin-bottom: 0;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}
.btn:hover,
.btn:focus {
  background-color: $dk-pink;
  color: $white;
  text-decoration: none;
  outline: none;
}

//IMAGES
.about-images{
  display:inline-block;
  margin: 0 37.5%;
}

.cupid {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 2px solid $lt-gray;
  margin: 0 12.5%;
}

//SERVICES PAGE

.services-container {
  display: inline;
}

//ROLODEX
.about-images-rolodex{
  display:inline-block;
}



}