//TYPE

a {
  color: $dk-gray;
  text-decoration: none;
  &:hover{
     color: $lt-gray;
     text-decoration: none;
  }
  &:visited{
    color: $md-gray;
  }
}

a.box {
  color: $white;
  &:hover{
     color: $lt-gray;
  }
  &:visited{
    color: $white;
  }
}


p {
  color: $md-gray;
  font-size: 125%;
  -moz-font-weight: 500;
  -webkit-font-weight: 500;
  -o-font-weight: 500;
  font-weight: 500;
  &.box{
    color: $white;
    font-size: 125%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $md-gray;
  font-weight: 700;
  font-family: $neutraface;
}

.box {
  color: $white;
  font-weight: 700;
  font-family: $neutraface;
}

.navbar {
  color: $dk-gray;
  font-weight: 400;
  font-family: $neutraface;
}

.icon{
  font-weight: 400;
}

.statement,
.substatement {
  @include breakpoint(tablet){
    text-align: center;
  }
  @include breakpoint(mobile){
    text-align: center;
  }
  @include breakpoint(iphone){
    text-align: center;
  }
}

.statement {
  margin-bottom: 0;
  font-size: 300%;
}

.substatement {
  margin-top: 0;
}

.rolodex-centered{
  @include breakpoint(large){
    padding-left: 20px;
  }
  @include breakpoint(desktop){
    padding-left: 20px;
  }
  padding-left: 15px;
  text-align: center;
}

.about-p{
  @include breakpoint(tablet){
    padding: 1% 2.5%;
    text-align: justify;
  }
  @include breakpoint(mobile){
    padding: 1% 2.5%;
    text-align: justify;
  }
  @include breakpoint(iphone){
    padding: 1% 2.5%;
    text-align: justify;
  }

}

.big{
  font-size: 300%;
}

.squished{
  margin: 0;
}

.compact {
  margin-bottom: 0;
}

.upper-compact {
  margin-top: 0;
}

.blue {
  color: $blue;
}

.yellow{
  color: $dk-yellow;
}

.pink {
  color: $pink;
}

.big-blue {
  color: $blue;
  font-size: 300%;
}

.big-yellow{
  color: $dk-yellow;
  font-size: 300%;
}

.big-pink {
  color: $pink;
  font-size: 300%;
  @include breakpoint(tablet){
   text-align: center;
  }
  @include breakpoint(mobile){
   text-align: center;
  }
  @include breakpoint(iphone){
   text-align: center;
  }
}

.big-white {
  color: $white;
  text-shadow: -1px 0 $pink, 0 1px $pink, 1px 0 $pink, 0 -1px $pink;
  font-size: 300%;
}

.centered{
  text-align: center;
}

a.blue {
  color: $blue;
}


a.yellow{
  color: $lt-yellow;
}


a.pink {
  color: $pink;
}

a.blue:hover{
  color: $dk-blue;
   text-decoration: none;
}

a.yellow:hover{
  color: $dk-yellow;
  text-decoration: none;
}

a.pink:hover{
  color: $dk-pink;
  text-decoration: none;
}

a.blue:visited{
  color: $dk-blue;
}

a.yellow:visited{
  color: $dk-yellow;
}

a.pink:visited{
  color: $dk-pink;
}

.right-align {
  text-align: right;
}