//TYPE

a {
  color: $dk-gray;
  text-decoration: none;
  &:hover, &:active, &:focus{
     color: $lt-gray;
     text-decoration: none;
  }
  &:visited{
    color: $md-gray;
  }
}



p {
  color: $md-gray;
  font-size: 125%;
  -moz-font-weight: 500;
  -webkit-font-weight: 500;
  -o-font-weight: 500;
  font-weight: 500;
  &.box{
    color: $white;
    font-size: 125%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $md-gray;
  font-weight: 700;
  font-family: $neutraface;
}

.box {
  color: $white;
  font-weight: 700;
  font-family: $neutraface;
}

.navbar {
  color: $dk-gray;
  font-weight: 400;
  font-family: $neutraface;
}

.icon{
  font-weight: 400;
}

.statement,
.substatement {
  @include breakpoint(tablet){
    text-align: center;
  }
  @include breakpoint(mobile){
    text-align: center;
  }
  @include breakpoint(iphone){
    text-align: center;
  }
}

.statement {
  margin-bottom: 0;
  font-size: 300%;
}

.substatement {
  margin-top: 0;
}

.rolodex-centered{
  @include breakpoint(large){
    padding-left: 20px;
  }
  @include breakpoint(desktop){
    padding-left: 20px;
  }
  padding-left: 15px;
  text-align: center;
}

.about-p{
  @include breakpoint(tablet){
    padding: 1% 2.5%;
    text-align: justify;
  }
  @include breakpoint(mobile){
    padding: 1% 2.5%;
    text-align: justify;
  }
  @include breakpoint(iphone){
    padding: 1% 2.5%;
    text-align: justify;
  }

}

.big{
  font-size: 300%;
}

.squished{
  margin: 0;
}


.blue {
  color: $blue;
}

.yellow{
  color: $dk-yellow;
}

.pink {
  color: $pink;
}

.big-pink {
  color: $pink;
  font-size: 300%;
  @include breakpoint(tablet){
   text-align: center;
  }
  @include breakpoint(mobile){
   text-align: center;
  }
  @include breakpoint(iphone){
   text-align: center;
  }
}


.centered{
  text-align: center;
}

a.yellow{
  @include link-transition(750ms);
  color: $lt-yellow;
  &:hover, &:active, &:focus{
    color: $dk-yellow;
    text-decoration: none;
  }
  &:visited {
    color: $lt-yellow;
  }
}


a.pink {
  @include link-transition(750ms);
  color: $pink;
  &:hover, &:active, &:focus{
    color: $dk-pink;
    text-decoration: none;
  }
  &:visited {
    color: $pink;
  }
}

a.blue {
  @include link-transition(750ms);
  color: $blue;
  &:hover, &:active, &:focus{
    color: $dk-blue;
    text-decoration: none;
  }
  &:visited {
    color: $blue;
  }
}
