//VARIABLES
$white: #fff;
$dk-gray: #999;
$md-gray: #666;
$lt-gray: #999;
// old pink
// $pink: #ffcccc;
$pink: #FFCC99;
$dk-pink: #FFB347;
//old dark pink
// $dk-pink: #FF949E;
$blue: #77d9d3;
$dk-blue: #70CCC6;
$lt-yellow: #FFF565;
$dk-yellow: #FFF019;

//FONTS
$neutraface: 'neutraface', helvetica, arial, sans-serif;

$neutraface-title: 'neutraface titling', helvetica, arial, sans-serif;

//breakpoints
//iphone
$screen-xxs:                 320px !default;
$screen-iphone:              $screen-xxs !default;

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-phone:               $screen-xs !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-tablet:              $screen-sm !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-desktop:             $screen-md !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-desktop:          $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xxs-max:             ($screen-xs - 1) !default;
$screen-xs-max:              ($screen-sm - 1) !default;
$screen-sm-max:              ($screen-md - 1) !default;
$screen-md-max:              ($screen-lg - 1) !default;

@font-face {
  font-family: 'neutraface titling';
  src: url('../fonts/neutraface/neutra2displaybold.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'neutraface';
  src: url('../fonts/neutraface/neutra2displaylight.ttf')  format('truetype') /* Safari, Android, iOS */
}
