//VARIABLES
$white: #fff;
$dk-gray: #999;
$md-gray: #666;
$lt-gray: #999;
$pink: #ffcccc;
$dk-pink: #FF949E;
$blue: #77d9d3;
$dk-blue: #70CCC6;
$lt-yellow: #FFF565;
$dk-yellow: #FFF019;

@font-face {
  font-family: 'neutraface titling';
  src: url('../fonts/neutraface/neutra2displaybold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'neutraface';
  src: url('../fonts/neutraface/neutra2displaylight.ttf')  format('truetype'), /* Safari, Android, iOS */
}



//MIXINS


//GENERAL

.container-fluid {
  padding-left: 0px;
}

body {
  font-size: 18px;
  font-weight: 400;
  font-family: 'neutraface', helvetica, arial, sans-serif;

}

.description{
  text-align: center;
}

//SPACING

.row-vert-space{
  margin-top: 20px;
}

.bump-left {
  margin-left: 7%;
}

//NAVBAR

.navbar-default {
  background-image: none;
  background-color: $white;
  box-shadow: none;
  border-color: none;
  border: none;
  // margin-bottom: 5px;
  // height: 50px;

}

.navbar-nav > li.yellow:hover {
  background-color: $lt-yellow;
}

.navbar-nav > li.pink:hover {
  background-color: $pink;
}

.navbar-nav > li.blue:hover {
  background-color: $blue;
}

.navbar-default .navbar-collapse {
  background-image: none;
  background-color: $white;
  box-shadow: none;
  border-color: none;
  border: none;
  // margin-bottom: 5px;
  // height: 50px;

}
.navbar-brand{
  padding: 5px 15px;
}

.light {
  font-family: 'neutraface', helvetica, arial, sans-serif;
}

.header-spacing {
  margin-top: 10px;
}

.icons:hover {
  transition: color .25s;
  color: $blue;
}

//BUTTONS

.btn {
  background-color: $pink;
  color: $white;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 125%;
  font-weight: 900;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}
.btn:hover,
.btn:focus {
  background-color: $dk-pink;
  color: $white;
  text-decoration: none;
  outline: none;
}

.btn-lg {
  background-color: $pink;
  color: $white;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 175%;
  font-weight: 900;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: none;
}

.btn-lg:focus,
.btn-lg:active:focus,
.btn-lg.active:focus {
  outline: none;
}
.btn-lg:hover,
.btn-lg:focus {
  background-color: $dk-pink;
  color: $white;
  text-decoration: none;
  outline: none;
}

.btn-sm {
  background-color: $pink;
  color: $white;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: none;
}

.btn-sm:focus,
.btn-sm:active:focus,
.btn-sm.active:focus {
  outline: none;
}
.btn-sm:hover,
.btn-sm:focus {
  background-color: $dk-pink;
  color: $white;
  text-decoration: none;
  outline: none;
}

.btn-blue {
  background-color: $blue;
  color: $white;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 125%;
  font-weight: 900;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: none;
}

.btn-blue:focus,
.btn-blue:active:focus,
.btn-blue.active:focus {
  outline: none;
}
.btn-blue:hover,
.btn-blue:focus {
  background-color: $dk-blue;
  color: $white;
  text-decoration: none;
  outline: none;
}

.btn-lg-blue {
  background-color: $blue;
  color: $white;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 175%;
  font-weight: 900;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: none;
}

.btn-lg-blue:focus,
.btn-lg-blue:active:focus,
.btn-lg-blue.active:focus {
  outline: none;
}
.btn-lg-blue:hover,
.btn-lg-blue:focus {
  background-color: $dk-blue;
  color: $white;
  text-decoration: none;
  outline: none;
}

.btn-sm-blue {
  background-color: $blue;
  color: $white;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: none;
}

.btn-sm-blue:focus,
.btn-sm-blue:active:focus,
.btn-sm-blue.active:focus {
  outline: none;
}
.btn-sm-blue:hover,
.btn-sm-blue:focus {
  background-color: $dk-blue;
  color: $white;
  text-decoration: none;
  outline: none;
}

//TYPE

a {
  color: $dk-gray;
  &:hover{
     color: $lt-gray;
  }
  &:visited{
    color: $md-gray;
  }
}

a.box {
  color: $white;
  &:hover{
     color: $lt-gray;
  }
  &:visited{
    color: $white;
  }
}


p {
  color: $md-gray;
  font-size: 125%;
  &.box{
    color: $white;
    font-size: 125%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $md-gray;
  font-weight: 700;
  font-family: 'neutraface titling', helvetica, arial, sans-serif;
}

h1.box,
h2.box,
h3.box,
h4.box,
h5.box,
h6.box {
  color: $white;
  font-weight: 700;
  font-family: 'neutraface titling', helvetica, arial, sans-serif;
}

h1.navbar,
h2.navbar,
h3.navbar,
h4.navbar,
h5.navbar,
h6.navbar {
  color: $dk-gray;
  font-weight: 500;
  font-family: 'neutraface', helvetica, arial, sans-serif;
}

h1.big,
h2.big,
h3.big,
h4.big,
h5.big,
h6.big{
  font-size: 300%;
}

h1.squished,
h2.squished,
h3.squished,
h4.squished,
h5.squished,
h6.squished{
  margin: 0;
}

h1.blue,
h2.blue,
h3.blue,
h4.blue,
h5.blue,
h6.blue {
  color: $blue;
}

h1.yellow,
h2.yellow,
h3.yellow,
h4.yellow,
h5.yellow,
h6.yellow{
  color: $dk-yellow;
}

h1.pink,
h2.pink,
h3.pink,
h4.pink,
h5.pink,
h6.pink {
  color: $pink;
}

h1.big-blue,
h2.big-blue,
h3.big-blue,
h4.big-blue,
h5.big-blue,
h6.big-blue {
  color: $blue;
  font-size: 300%;
}

h1.big-yellow,
h2.big-yellow,
h3.big-yellow,
h4.big-yellow,
h5.big-yellow,
h6.big-yellow{
  color: $dk-yellow;
  font-size: 300%;
}

h1.big-pink,
h2.big-pink,
h3.big-pink,
h4.big-pink,
h5.big-pink,
h6.big-pink {
  color: $pink;
  font-size: 300%;
}

h1.centered,
h2.centered,
h3.centered,
h4.centered,
h5.centered,
h6.centered{
  text-align: center;
}

a.blue {
  color: $blue;
}


a.yellow{
  color: $lt-yellow;
}


a.pink {
  color: $pink;
}

a.blue:hover{
  color: $dk-blue;
   text-decoration: none;
}

a.yellow:hover{
  color: $dk-yellow;
  text-decoration: none;
}

a.pink:hover{
  color: $dk-pink;
  text-decoration: none;
}

a.blue:visited{
  color: $dk-blue;
}

a.yellow:visited{
  color: $dk-yellow;
}

a.pink:visited{
  color: $dk-pink;
}

.ten-bump{
  margin-left: 10px;
}

.tencenter-bump{
  text-align: center;
  margin-left: 10px;
}

.twelve-bump{
  margin-left: 12px;
}

.fifteen-bump{
  margin-left: 15px;
}

.twentyfive-bump{
  margin-left: 25px;
}

.thirty-bump{
  margin-left: 30px;
}

.forty-bump{
  margin-left: 40px;
}

.julie-bump{
  padding-left: 20px;
}








//IMAGES

.jumbotron{
  background-color: $blue;
}

.cupid {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid $lt-gray;
}

.cupids {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid $lt-gray;
  margin-left: 22%;
}



