@font-face {
  font-family: 'neutraface titling';
  src: url("../fonts/neutraface/neutra2displaybold.ttf") format("truetype"); }
@font-face {
  font-family: 'neutraface';
  src: url("../fonts/neutraface/neutra2displaylight.ttf") format("truetype"); }
.container-fluid {
  padding-left: 0px; }

body {
  font-size: 18px;
  font-weight: 400;
  font-family: 'neutraface', helvetica, arial, sans-serif;
  position: relative;
  z-index: 0; }

.description {
  text-align: center; }

.row-vert-space {
  margin-top: 20px; }

.header-bump {
  margin-left: 20px; }

.bump-left {
  margin-left: 7%; }

.big-bump-left {
  margin-left: 15%; }

.big-bump-left-small-view {
  margin-left: 20%; }

.title-bump-left {
  margin-left: 25%; }

.header-spacing {
  margin-top: 10px; }

.bottom-space {
  margin-bottom: 50px; }

.no-margin-top {
  margin-top: 0; }

.no-margin-bottom {
  margin-bottom: 0; }

.no-pad {
  padding: 0; }

.nav-space {
  margin: 0 5px; }

.footer-bump {
  margin-left: 10px; }

.about-images-rolodex {
  margin: 0 15%; }

.ten-bump {
  margin-left: 10px; }

.tencenter-bump {
  text-align: center;
  margin-left: 10px; }

.twelve-bump {
  margin-left: 12px; }

.fifteen-bump {
  margin-left: 15px; }

.twentyfive-bump {
  margin-left: 25px; }

.thirty-bump {
  margin-left: 30px; }

.forty-bump {
  margin-left: 40px; }

.one-fifteen-bump {
  margin-left: 115px; }

.name-bump {
  padding-left: 20px; }

.name2-bump {
  padding-left: 30px; }

.nav-container {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: white;
  color: #666666;
  z-index: 10; }

.body-container {
  z-index: 0;
  margin-top: 60px; }

.nav-row {
  position: relative; }

.branding,
.brand-item,
.nav-links,
.nav-link-item,
.contact-list,
.contact-item {
  display: inline;
  list-style-type: none; }

.title {
  position: absolute;
  top: -25px;
  left: 45px;
  width: 100%; }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .title {
      display: none; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .title {
      display: none; } }
  @media all and (max-width: 479px) {
    .title {
      display: none; } }
  .title .navbar-font {
    font-size: 1.25em; }

.nav-img {
  float: left; }

.brand-item {
  padding: 0 5px; }

.nav-links {
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  height: 50px;
  line-height: 50px; }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .nav-links {
      display: none; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .nav-links {
      display: none; } }
  @media all and (max-width: 479px) {
    .nav-links {
      display: none; } }

.nav-link-item {
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  padding: 15px 2.5px 10px 2.5px;
  font-size: 1.25em;
  font-family: 'neutraface', helvetica, arial, sans-serif; }
  .nav-link-item.blue:hover, .nav-link-item.blue:active, .nav-link-item.blue:focus {
    text-decoration: none;
    color: white;
    background-color: #77d9d3; }
  .nav-link-item.blue:visited {
    color: #666666;
    background-color: transparent; }
  .nav-link-item.yellow:hover, .nav-link-item.yellow:active, .nav-link-item.yellow:focus {
    text-decoration: none;
    color: white;
    background-color: #fff565; }
  .nav-link-item.yellow:visited {
    text-decoration: none;
    color: #666666;
    background-color: transparent; }
  .nav-link-item.pink:hover, .nav-link-item.pink:active, .nav-link-item.pink:focus {
    text-decoration: none;
    color: white;
    background-color: #ffb347; }
  .nav-link-item.pink:visited {
    color: #666666;
    background-color: transparent; }

.nav-highlight {
  color: #666666;
  padding: 10px 5px; }

@media all and (min-width: 768px) and (max-width: 991px) {
  .contact-list {
    display: none; } }
@media all and (min-width: 480px) and (max-width: 767px) {
  .contact-list {
    display: none; } }
@media all and (max-width: 479px) {
  .contact-list {
    display: none; } }

.contact-item {
  padding: 5px;
  margin-top: 2px;
  font-size: 1.75em; }
  .contact-item.blue:hover, .contact-item.blue:active, .contact-item.blue:focus {
    color: #77d9d3; }
  .contact-item.blue:visited {
    color: #666666; }
  .contact-item.yellow:hover, .contact-item.yellow:active, .contact-item.yellow:focus {
    color: #fff565; }
  .contact-item.yellow:visited {
    color: #666666; }
  .contact-item.pink:hover, .contact-item.pink:active, .contact-item.pink:focus {
    color: #ffb347; }
  .contact-item.pink:visited {
    color: #666666; }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .contact-item {
      display: none; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .contact-item {
      display: none; } }
  @media all and (max-width: 479px) {
    .contact-item {
      display: none; } }

.icons {
  color: #666666; }
  .icons:hover, .icons:active, .icons:focus {
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    color: #77d9d3; }

.mobile-info,
.mobile-menu {
  position: absolute; }
  @media all and (min-width: 1200px) {
    .mobile-info,
    .mobile-menu {
      display: none; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .mobile-info,
    .mobile-menu {
      display: none; } }

.mobile-info {
  top: -15px;
  right: 5px;
  background-color: #77d9d3;
  color: white;
  border: 1px solid #77d9d3; }
  .mobile-info:hover, .mobile-info:active, .mobile-info:focus {
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    outline: 0;
    text-decoration: none;
    color: #77d9d3;
    background-color: white; }

.mobile-menu {
  top: 25px;
  right: 5px;
  background-color: white;
  color: #666666;
  width: 200px;
  height: auto;
  padding: 0;
  border: 0.5px solid #666666; }

.m-item {
  list-style-type: none;
  color: #666666;
  text-align: center;
  width: 200px;
  height: auto;
  padding: 2.5px 0;
  font-size: 1.25em;
  border-bottom: 0.5px solid #666666; }
  .m-item:last-of-type {
    border-bottom: none; }
  .m-item:hover, .m-item:active, .m-item:focus {
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    text-decoration: none; }
  .m-item:nth-child(1):hover, .m-item:nth-child(1):active, .m-item:nth-child(1):focus, .m-item:nth-child(4):hover, .m-item:nth-child(4):active, .m-item:nth-child(4):focus, .m-item:nth-child(7):hover, .m-item:nth-child(7):active, .m-item:nth-child(7):focus {
    background-color: #77d9d3; }
  .m-item:nth-child(2):hover, .m-item:nth-child(2):active, .m-item:nth-child(2):focus, .m-item:nth-child(5):hover, .m-item:nth-child(5):active, .m-item:nth-child(5):focus {
    background-color: #fff565; }
  .m-item:nth-child(3):hover, .m-item:nth-child(3):active, .m-item:nth-child(3):focus, .m-item:nth-child(6):hover, .m-item:nth-child(6):active, .m-item:nth-child(6):focus {
    background-color: #ffb347; }

#carousel-example-generic {
  position: relative;
  z-index: 0; }

.carousel-styling {
  margin: 0;
  padding: 0; }

.carousel-control.right,
.carousel-control.left {
  background-image: none; }

.rolodex-container {
  height: 200px; }

.nav-container {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: white;
  color: #666666;
  z-index: 10; }

.body-container {
  z-index: 0;
  margin-top: 60px; }

.nav-row {
  position: relative; }

.branding,
.brand-item,
.nav-links,
.nav-link-item,
.contact-list,
.contact-item {
  display: inline;
  list-style-type: none; }

.title {
  position: absolute;
  top: -25px;
  left: 45px;
  width: 100%; }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .title {
      display: none; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .title {
      display: none; } }
  @media all and (max-width: 479px) {
    .title {
      display: none; } }
  .title .navbar-font {
    font-size: 1.25em; }

.nav-img {
  float: left; }

.brand-item {
  padding: 0 5px; }

.nav-links {
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  height: 50px;
  line-height: 50px; }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .nav-links {
      display: none; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .nav-links {
      display: none; } }
  @media all and (max-width: 479px) {
    .nav-links {
      display: none; } }

.nav-link-item {
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  padding: 15px 2.5px 10px 2.5px;
  font-size: 1.25em;
  font-family: 'neutraface', helvetica, arial, sans-serif; }
  .nav-link-item.blue:hover, .nav-link-item.blue:active, .nav-link-item.blue:focus {
    text-decoration: none;
    color: white;
    background-color: #77d9d3; }
  .nav-link-item.blue:visited {
    color: #666666;
    background-color: transparent; }
  .nav-link-item.yellow:hover, .nav-link-item.yellow:active, .nav-link-item.yellow:focus {
    text-decoration: none;
    color: white;
    background-color: #fff565; }
  .nav-link-item.yellow:visited {
    text-decoration: none;
    color: #666666;
    background-color: transparent; }
  .nav-link-item.pink:hover, .nav-link-item.pink:active, .nav-link-item.pink:focus {
    text-decoration: none;
    color: white;
    background-color: #ffb347; }
  .nav-link-item.pink:visited {
    color: #666666;
    background-color: transparent; }

.nav-highlight {
  color: #666666;
  padding: 10px 5px; }

@media all and (min-width: 768px) and (max-width: 991px) {
  .contact-list {
    display: none; } }
@media all and (min-width: 480px) and (max-width: 767px) {
  .contact-list {
    display: none; } }
@media all and (max-width: 479px) {
  .contact-list {
    display: none; } }

.contact-item {
  padding: 5px;
  margin-top: 2px;
  font-size: 1.75em; }
  .contact-item.blue:hover, .contact-item.blue:active, .contact-item.blue:focus {
    color: #77d9d3; }
  .contact-item.blue:visited {
    color: #666666; }
  .contact-item.yellow:hover, .contact-item.yellow:active, .contact-item.yellow:focus {
    color: #fff565; }
  .contact-item.yellow:visited {
    color: #666666; }
  .contact-item.pink:hover, .contact-item.pink:active, .contact-item.pink:focus {
    color: #ffb347; }
  .contact-item.pink:visited {
    color: #666666; }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .contact-item {
      display: none; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .contact-item {
      display: none; } }
  @media all and (max-width: 479px) {
    .contact-item {
      display: none; } }

.icons {
  color: #666666; }
  .icons:hover, .icons:active, .icons:focus {
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    color: #77d9d3; }

.mobile-info,
.mobile-menu {
  position: absolute; }
  @media all and (min-width: 1200px) {
    .mobile-info,
    .mobile-menu {
      display: none; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .mobile-info,
    .mobile-menu {
      display: none; } }

.mobile-info {
  top: -15px;
  right: 5px;
  background-color: #77d9d3;
  color: white;
  border: 1px solid #77d9d3; }
  .mobile-info:hover, .mobile-info:active, .mobile-info:focus {
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    outline: 0;
    text-decoration: none;
    color: #77d9d3;
    background-color: white; }

.mobile-menu {
  top: 25px;
  right: 5px;
  background-color: white;
  color: #666666;
  width: 200px;
  height: auto;
  padding: 0;
  border: 0.5px solid #666666; }

.m-item {
  list-style-type: none;
  color: #666666;
  text-align: center;
  width: 200px;
  height: auto;
  padding: 2.5px 0;
  font-size: 1.25em;
  border-bottom: 0.5px solid #666666; }
  .m-item:last-of-type {
    border-bottom: none; }
  .m-item:hover, .m-item:active, .m-item:focus {
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    text-decoration: none; }
  .m-item:nth-child(1):hover, .m-item:nth-child(1):active, .m-item:nth-child(1):focus, .m-item:nth-child(4):hover, .m-item:nth-child(4):active, .m-item:nth-child(4):focus, .m-item:nth-child(7):hover, .m-item:nth-child(7):active, .m-item:nth-child(7):focus {
    background-color: #77d9d3; }
  .m-item:nth-child(2):hover, .m-item:nth-child(2):active, .m-item:nth-child(2):focus, .m-item:nth-child(5):hover, .m-item:nth-child(5):active, .m-item:nth-child(5):focus {
    background-color: #fff565; }
  .m-item:nth-child(3):hover, .m-item:nth-child(3):active, .m-item:nth-child(3):focus, .m-item:nth-child(6):hover, .m-item:nth-child(6):active, .m-item:nth-child(6):focus {
    background-color: #ffb347; }

a {
  color: #999999;
  text-decoration: none; }
  a:hover {
    color: #999999;
    text-decoration: none; }
  a:visited {
    color: #666666; }

a.box {
  color: white; }
  a.box:hover {
    color: #999999; }
  a.box:visited {
    color: white; }

p {
  color: #666666;
  font-size: 125%;
  -moz-font-weight: 500;
  -webkit-font-weight: 500;
  -o-font-weight: 500;
  font-weight: 500; }
  p.box {
    color: white;
    font-size: 125%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666666;
  font-weight: 700;
  font-family: "neutraface", helvetica, arial, sans-serif; }

.box {
  color: white;
  font-weight: 700;
  font-family: "neutraface", helvetica, arial, sans-serif; }

.navbar {
  color: #999999;
  font-weight: 400;
  font-family: "neutraface", helvetica, arial, sans-serif; }

.icon {
  font-weight: 400; }

.big {
  font-size: 300%; }

.squished {
  margin: 0; }

.compact {
  margin-bottom: 0; }

.upper-compact {
  margin-top: 0; }

.blue {
  color: #77d9d3; }

.yellow {
  color: #fff019; }

.pink {
  color: #ffb347; }

.big-blue {
  color: #77d9d3;
  font-size: 300%; }

.big-yellow {
  color: #fff019;
  font-size: 300%; }

.big-pink {
  color: #ffb347;
  font-size: 300%; }

.big-white {
  color: white;
  text-shadow: -1px 0 #ffb347, 0 1px #ffb347, 1px 0 #ffb347, 0 -1px #ffb347;
  font-size: 300%; }

.centered {
  text-align: center; }

a.blue {
  color: #77d9d3; }

a.yellow {
  color: #fff565; }

a.pink {
  color: #ffb347; }

a.blue:hover {
  color: #70ccc6;
  text-decoration: none; }

a.yellow:hover {
  color: #fff019;
  text-decoration: none; }

a.pink:hover {
  color: #ff949e;
  text-decoration: none; }

a.blue:visited {
  color: #70ccc6; }

a.yellow:visited {
  color: #fff019; }

a.pink:visited {
  color: #ff949e; }

.right-align {
  text-align: right; }

.navbar-brand > img {
  display: inline-block; }

.index-img {
  display: block;
  margin: 0 auto;
  height: 400px;
  width: auto; }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .index-img {
      height: 300px; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .index-img {
      height: 250px; } }
  @media all and (max-width: 479px) {
    .index-img {
      height: 250px; } }

.cupid {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid #999999; }

.rolodex-image {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  border: 2px solid #999999; }

.julie-cupid {
  margin: 20px 0 0 20px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid #999999; }

.cupids {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid #999999;
  margin-left: 22%; }

.about-images {
  display: inline-block;
  margin: 0 25%; }

.about-images-rolodex {
  display: inline-block;
  margin: 0 37.5%; }

.modal-content {
  position: relative;
  background-color: #fff565;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 25em;
  height: 25em;
  border-radius: 12.5em;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); }

.bounding-box {
  width: 18.75em;
  height: 18.75em;
  margin-top: 4.5em;
  margin-left: 2em;
  text-align: center; }

.btn {
  background-color: #77d9d3;
  color: white;
  display: inline-block;
  padding: 4px 9px;
  margin-bottom: 0;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: none; }

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  background-color: #70ccc6;
  color: white;
  outline: none; }

.btn:hover,
.btn:focus
.btn:visited {
  background-color: #70ccc6;
  color: white;
  text-decoration: none;
  outline: none; }

@media all and (max-width: 1024px) and (min-width: 768px) {
  .modal-content {
    position: relative;
    background-color: #fff565;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 18.75em;
    height: 18.75em;
    border-radius: 9.375em;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); }

  .bounding-box {
    width: 14.0625em;
    height: 14.0625em;
    margin-top: 3.375em;
    margin-left: 1.5em;
    text-align: center; }

  .big-white {
    color: white;
    text-shadow: -1px 0 #ffb347, 0 1px #ffb347, 1px 0 #ffb347, 0 -1px #ffb347;
    font-size: 225%; }

  .centered {
    text-align: center; }

  .btn-primary-centered {
    margin: 0 25%; }

  .btn {
    background-color: #ffb347;
    color: white;
    display: inline-block;
    padding: 4px 9px;
    margin-bottom: 0;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none; }

  .btn:focus,
  .btn:active:focus,
  .btn.active:focus {
    outline: none; }

  .btn:hover,
  .btn:focus {
    background-color: #ff949e;
    color: white;
    text-decoration: none;
    outline: none; }

  .about-images {
    display: inline-block;
    margin: 0 37.5%; }

  .cupid {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 2px solid #999999;
    margin: 0 12.5%; }

  .services-container {
    display: inline; }

  .about-images-rolodex {
    display: inline-block; } }
@media all and (min-width: 240px) and (max-width: 767px) {
  .modal-content {
    position: relative;
    background-color: #fff565;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 12.5em;
    height: 12.5em;
    border-radius: 6.25em;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); }

  .bounding-box {
    width: 9.375em;
    height: 9.375em;
    margin-top: 2.25em;
    margin-left: 1em;
    text-align: center; }

  .big-white {
    color: white;
    text-shadow: -1px 0 #ffb347, 0 1px #ffb347, 1px 0 #ffb347, 0 -1px #ffb347;
    font-size: 225%;
    margin-left: 20%; }

  .centered {
    text-align: center; }

  .center {
    text-align: center;
    margin: 0 25%; }

  .btn-primary-centered {
    margin: 0 40%; }

  .btn {
    background-color: #77d9d3;
    color: white;
    display: inline-block;
    padding: 4px 9px;
    margin-bottom: 0;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none; }

  .btn:focus,
  .btn:active:focus,
  .btn.active:focus {
    background-color: #70ccc6;
    color: white;
    outline: none; }

  .btn:hover,
  .btn:focus
  .btn:visited {
    background-color: #70ccc6;
    color: white;
    text-decoration: none;
    outline: none; }

  .about-images {
    display: inline-block;
    margin: 0 25%; }

  .about-images-rolodex {
    display: inline-block;
    margin: 0 55%; }

  .rolodex-image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid #999999; }

  .cupid {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid #999999;
    margin: 0 25%; }

  .about-images-rolodex {
    display: inline-block;
    margin: 0 12.5%; }

  .xshide {
    cursor: pointer; }

  #xs1,
  #xs2,
  #xs3,
  #xs4,
  #xs5,
  #xs6,
  #xs7,
  #xs8,
  #xs9,
  #xs10 {
    cursor: pointer; }

  .row-vert-space {
    margin-top: 10px; } }
.footer {
  border-top: 1px solid #ffb347;
  padding-top: 5px;
  font-size: 14px; }

a.footer-link {
  font-weight: bolder; }

.right-side-text {
  float: right; }

.inline-type {
  display: inline; }

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll; }

.mmproRegistrationFormBox {
  height: 50%;
  width: 100%; }
