/*
Syntax error: Invalid CSS after "...Android, iOS *\/": expected expression (e.g. 1px, bold), was "}"
        on line 16 of amy.scss

11: $dk-yellow: #FFF019;
12: 
13: @font-face {
14:   font-family: 'neutraface titling';
15:   src: url('../fonts/neutraface/neutra2displaybold.ttf')  format('truetype'), /* Safari, Android, iOS *\/
16: }
17: 
18: @font-face {
19:   font-family: 'neutraface';
20:   src: url('../fonts/neutraface/neutra2displaylight.ttf')  format('truetype'), /* Safari, Android, iOS *\/
21: }

Backtrace:
amy.scss:16
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/scss/parser.rb:1145:in `expected'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/script/lexer.rb:199:in `expected!'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/script/parser.rb:471:in `assert_expr'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/script/parser.rb:253:in `expr'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/script/parser.rb:470:in `assert_expr'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/script/parser.rb:49:in `parse'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/scss/parser.rb:1021:in `sass_script'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/scss/parser.rb:881:in `value!'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/scss/parser.rb:858:in `declaration'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/scss/parser.rb:581:in `block in declaration_or_ruleset'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/scss/parser.rb:1121:in `call'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/scss/parser.rb:1121:in `rethrow'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/scss/parser.rb:553:in `block_child'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/scss/parser.rb:545:in `block_contents'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/scss/parser.rb:165:in `directive_body'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/scss/parser.rb:157:in `directive'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/scss/parser.rb:552:in `block_child'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/scss/parser.rb:545:in `block_contents'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/scss/parser.rb:27:in `parse'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/engine.rb:342:in `_to_tree'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `each'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/hannahnordgren/.rvm/gems/ruby-2.1.1@one_month_rails/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...Android, iOS */\": expected expression (e.g. 1px, bold), was \"}\"\A         on line 16 of amy.scss\A \A 11: $dk-yellow: #FFF019;\A 12: \A 13: @font-face {\A 14:   font-family: 'neutraface titling';\A 15:   src: url('../fonts/neutraface/neutra2displaybold.ttf')  format('truetype'), /* Safari, Android, iOS */\A 16: }\A 17: \A 18: @font-face {\A 19:   font-family: 'neutraface';\A 20:   src: url('../fonts/neutraface/neutra2displaylight.ttf')  format('truetype'), /* Safari, Android, iOS */\A 21: }"; }
